.abl{
  padding: 15px;
  float: left;
  width: 50%;
}
.abr{
  padding: 15px;
  float: left;
  width: 50%;
}
.img{
  float: right;
  display:block;
  width: 40%;
  min-width:250px;
  margin-left:5%;
}
@media (max-width:725px){
  .img{
    width: 90%;
    min-width:225px;
  }
}