.ck{
  width:100%;
  display:flex;
  float: left;
}
.abl{
  display:block;
  padding: 15px;
  float: left;
  width: 50%;
}
.abr{
  text-align:left;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 50%;
}
.img{
  float: right;
  width: 55%;
  min-width:250px;
  margin-left:5%;
}

@media (max-width:540px){
  .ck{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
  }
  .abl{
    display:flex;
    padding: 15px;
    width: 100%;
  }
  .abr{
    text-align:left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .img{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}