main{
    min-width:600px;
    width:50%;
    height:50%;
    margin-top:2%;
    padding:5px;
}
h1{
    color:#4D212B;
    margin-bottom:5px;
}
.true{
    display: flex;
}
.false{
    display: none;
}
@media (max-width:725px){
    main{
        min-width:0px;
        width:100vw;
        border-top: 2px solid #4D212B;
        border-bottom: 2px solid #4D212B;
        border-left:none;
        border-right:none;
        margin-top:15%;
        padding:10px;
    }
    .true{
        display: none;
    }
    .false{
        display: flex;
    }
}