body{
    overflow-y:hidden;
}
foota {
  color:#4D212B;
  width:100%;
  clear:left;
  bottom: -1px;
  text-align: center;
  font-size: 8pt;
  padding-top: 30px;
  position: absolute;
}
.chunk{
    width: 650px;
    height: 800px;
    background-repeat: no-repeat;
}
.big-wrap{
    border:solid;
    width:650px;
    height: 99vw;
    transform:rotate(-90deg) translateX(-101%);
    transform-origin: top left;
    overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}
.wrap{
    display:flex;
    flex-direction: row;
}
.frame1{
  border: 30px solid transparent;
  border-image: url(frame/frame2.png) 30 round;
  transform:rotate(90deg) translateY(-20%) translateX(50%);
  width:550px;
  height: 400px;
}
.start{
    background-image: url("bits/start.png");
}
.middle{
    background-image: url("bits/hall.png");
}
.end{
    background-image: url("bits/end.png");
}