/*general stuff*/
*{
  color:#4D212B;
  font-family: Tahoma, Verdana;
  box-sizing: border-box;
}
::selection{
  background-color:#74ff96;
  color: white;
}
body {
  background-color: #FFD0DC;
  overflow-x: hidden; 
}
h1   {
  color: #ff7496;
  font-weight: bold;
}
h2{
  color: #ff7496;
}
footer {
  color:#4D212B;
  width:100%;
  clear:left;
  bottom: 10px;
  text-align: center;
  font-size: 8pt;
  padding-top: 30px;
}
footer.ab {
  position: absolute;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
.truecenter {
  margin: auto;
}
/*hyperlink shenanigans*/
a.link{
  color:#7496FF;
}
.link:visited{
  color:#FF7496;
}
.link:hover {
  color: #FF9774;
}
.link:active {
  color: #FFDCD1;
  background-color: #FF9774;
}
/* scroll bar*/
::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-track {
  background:#E3B4C0;
}
::-webkit-scrollbar-thumb {
  background-image: url(img/scroll/scrollbar.png);
}
::-webkit-scrollbar-thumb:hover {
  background-image: url(img/scroll/scrollbarhover.png);
}
::-webkit-scrollbar-thumb:active {
  background-image: url(img/scroll/scrollbaractive.png);
}
::-webkit-scrollbar-button:single-button {
  display: block;
  height: 17px;
  width: 17px;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(img/scroll/up.png);
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url(img/scroll/uphover.png);
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url(img/scroll/upactive.png);
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(img/scroll/down.png);
}
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  background-image: url(img/scroll/downhover.png);
}
::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url(img/scroll/downactive.png);
}
/*scrollbar for firefox*/
html {
	scrollbar-width: auto;
	scrollbar-color: #4D212B #E3B4C0;
}
/* silly pixelation thing */
img.px {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast; 
  -ms-interpolation-mode: nearest-neighbor;
}

/* for the banner */
img.banner{
  width:35%;
  min-width:500px;
  padding:20px;
  display:block;
}
.shows{
  margin-left:30%;
}
/*nav menu stuff */
nav.navmenu{
  position:webkit-sticky;
  position: sticky;
  width: 35%;
  min-width:525px;
  top: 40px;
  padding: 10px;
  background-color: #ff7496;
  border: 2px #4D212B;
  border-style:solid;
  text-align: center;
  overflow: hidden;
  list-style-type: none;
}
.navbutt {
  background-color: #ff7496;
  border: none;
  color: white;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  padding:2%;
}
.navbutt:hover {
  background-color: white;
  color: #ff7496;
}
a.b{
  color: inherit;
  text-decoration: none;
}
@media (max-width:725px){
  nav.navmenu{
    min-width:auto;
    width:100%;
    padding: 5px;
  }
  .navbutt {
    border: 1px solid #4D212B;
    padding: 4%;
  }
  img.banner{
    width:75%;
  }
  .shows{
    margin-left:0%;
  }
}
@media (max-width:540px){
  .navbutt {
    border: 1px solid #4D212B;
    padding: 3%;
  }
}