p {
  display: block;
  margin-block-start: 5px;
  margin-block-end: 5px;
}
/*normal page*/
.grid{
  padding-top:20px;
  margin-top:20px;
  border-top: solid 1px #4D212B;
  width:80%;
  display:flex;
  align-content: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
}
.grid>a{
  text-decoration: none;
  margin:10px;
  padding:5px;
  border: solid 1px #4D212B;
}
.grid>a>div>img{
  height: 250px;
  width: 250px;
  object-fit: contain;
}
/*popups*/
[id^=popup] {
  display: none;
  position:absolute;
  justify-content: center;
  top:0%;
  width: 100%;
  height: auto;
}
.box{
  display: block;
  background-color: #FFD0DC;
  border: solid 2px #4D212B;
  margin-top:20px;
  margin-bottom:20px;
  padding: 10px;
  min-width:900px;
  height:auto;
  z-index: 1;
}
.box>img{
  display:block;
  height:80vh;
  width: auto;
  margin:auto;
  text-align: center;
}
/*bg being clickable*/
.bgc{
  display: block;
  position: fixed;
  top:0%;
  left:0%;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/*bg itself*/
.bg{
  position:fixed;
  top:0%;
  left:0%;
  width: 100%;
  height: 100%;
  background-color: rgba(77,33,43,0.4);
}
/*X button*/
.box>a>div{
  height:25px;
  width: 25px;
  margin-left: auto;
  margin-bottom:10px;
  border: solid 2px #4D212B;
  background-color: #ff7496;
  text-align: center;
  color: #FFD0DC;
  
}
.box>a{
  text-decoration: none;
}

/*all entries, add number for each entry*/
#popup1:target {
  display: flex;
}
#popup2:target {
  display: flex;
}
#popup3:target {
  display: flex;
}
#popup4:target {
  display: flex;
}
#popup5:target {
  display: flex;
}
#popup6:target {
  display: flex;
}
#popup7:target {
  display: flex;
}
/*idk it does something*/
input[type=checkbox] {
  position: absolute;
  clip: rect(0 0 0 0);
}